.btn {
    margin-right: 12px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #02d402;
    color: #02d402;
    transition: all ease .5s;
}

.btn:hover {
    border: none;
    background-color: green;
    color: white;
}